<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- htmlWebpackPlugin.options.metadata.title%></title>
</head>
<body>
    <h1>Test Success</h1>
</body>
</html>